h1{
  text-align: center;
}
#all{
  visibility:visible;
}
#answer{
  visibility;hidden;
  font-size: 100px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  text-shadow: yellow;
}
body{
  background-color: blue;
}
img{
  height:400px;
  width :100%;
  align-items: center;
}
.jumbotron{
  background-color:red;
}
